<p><%= @user.name %>,</p>

<p><%= @follower.name %> (<%= link_to "@#{@follower.username}", user_url(@follower) %>) is following you on Sample App.</p>

<p>You can <%= link_to "change your settings for notifications", edit_user_url(@user) %></p>

<p><%= link_to "Sign in to micropost something", root_url %></p>

<p>Regards,
<br>Sample App</p>